

h1#title {
	font-family: 'Cabin Sketch', cursive;
	font-weight: 300;
	font-size: 6.4vh;
	color: white;
	text-shadow: 0 0 10px rgba(0,0,0,0.8);
	margin: 0 auto;
	padding-top: 180px;
	max-width: 300px;
	text-align: center;
	position: relative;
	top: 0px;
}

body {
	background: url("") no-repeat center center fixed;
	background-size: cover;
	font-size: 150%;
	font-family: 'Cabin Sketch', cursive;
	font-weight: 300;
	margin: 0;
	color: #666;
	
}


